.tools-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.filters-container {
  display: flex;
  gap: 16px;
}

.text-filter-container {
  display: flex;
  gap: 16px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-container {
  display: flex;
  gap: 16px;
}


.table-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

