<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active" id="employee">
          <a class="nav-link nav-text navbar-brand mb-4" routerLink="/employee" routerLinkActive="active-nav-text"
            ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact:false}"  (click)="setActive(domains.employee)">Employee</a>
        </li>
        <li class="nav-item" id="qualification">
          <a class="nav-link nav-text navbar-brand mb-4" routerLink="/qualifications"
            routerLinkActive="active-nav-text" ariaCurrentWhenActive="page" (click)="setActive(domains.qualification)">Qualification </a>
        </li>
      </ul>
      <a href="https://keycloak.szut.dev/auth/realms/szut/protocol/openid-connect/logout">
        <img class="nav-item" width="40" height="40" [src]="logoutIcon">
      </a>
    </div>
  </div>
</nav>
<hr class="hr line_seperator">
