<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active" id="employee">
          <a class="nav-link nav-text navbar-brand mb-4" routerLink="employee" routerLinkActive="active-nav-text"
             [routerLinkActiveOptions]="{exact: false}"
             ariaCurrentWhenActive="page" (click)="setActive(domains.employee)">Employee</a>
        </li>
        <li class="nav-item" id="qualification">
          <a class="nav-link nav-text navbar-brand mb-4" href="" routerLink="qualification"
             routerLinkActive="active-nav-text" ariaCurrentWhenActive="page">Qualification</a>
        </li>
      </ul>
      <a (click)="logout()">
        <img class="nav-item" width="40" height="40" [src]="logoutIcon">
      </a>
    </div>
  </div>
</nav>
<hr class="hr line_seperator">
