<div class="container-fluid">
  <div class="row ">
    <div class="page-title">
      <!--page title-->
      @if (id) {
        <h3 class="ps-5">Edit Employee &rarr; Add Employee</h3>
        <p class="ps-5">ID: {{ id }}</p>
      } @else {
        <h3 class="ps-5">New Employee &rarr; Add Employee</h3>
      }
    </div>
  </div>
  <div class="row ">
    <!--left components-->
    <div class="col-4">
      <!--Filter-->
      <div class="content-wrapper">
        <app-text-filter
          [title]="'Employee First/Last Name'"
          (eventTriggered)="handleEventFilter($event)"
        ></app-text-filter>

        <!--all qualifications-->
        <app-table [configuration]="tableConfiguration"
                   [data]="listedEmployees"></app-table>
      </div>
    </div>
    <!--spacing-->
    <div class="col-2"></div>
    <!--right component-->
    <div class="col-6">
      <!--New employee-->
      <div class="content-wrapper">
        <h3 class="ps-5">New Employee</h3>
        <app-employee-form (formDataChange)="insertNewEmployee($event)"></app-employee-form>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <a routerLink="/qualification/new"> <!--TODO route string in .ts-->
      <app-button label="Cancel"></app-button>
    </a>
    <a routerLink="/qualification/new"> <!--TODO route string in .ts-->
      <app-button label="save" (click)="updateAdHocCache()">Submit Data</app-button>
    </a>
  </div>

</div>
