<div class="container-fluid">
  <div class="col">
    <!--page title-->
    @if (id) {
      <h3 class="ps-5">Edit Employee -> Add Employee</h3>
      <p class="ps-5">ID: {{ id }}</p>
    } @else {
      <h3 class="ps-5">New Employee -> Add Employee</h3>
    }
  </div>
  <!--left components-->
  <div class="col-6">
    <!--Filter-->
    <app-text-filter
      [title]="'Employee First/Last Name'"
      (eventTriggered)="handleEventFilter($event)"
    ></app-text-filter>
    <!--all qualifications-->
    <app-table [configuration]="tableConfiguration"></app-table>
  </div>
  <!--right component-->
  <div class="col-6">
    <!--New employee-->
    <app-employee-form (formDataChange)="insertNewEmployee($event)"></app-employee-form>
  </div>
  <div class="col">
    <div class="d-flex justify-content-center gap-5 " style="position: fixed; bottom: 3%; left:50% ;transform: translateX(-50%);">
      <a routerLink="/qualification/new"> <!--TODO route string in .ts-->
        <app-button label="Cancel"></app-button>
        <app-button label="save" (click)="updateAdHocCache()">Submit Data</app-button>
      </a>


    </div>
  </div>
</div>
