.buttons-container{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.content-wrapper{
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 40px;
  margin-bottom: var(--filter-margin_bottom);
}

.button-container {
  width: 50%;
  align-self: end;
  display:flex;
  gap: 16px;
  justify-content: flex-end;
}
