/* .heading-container {

} */

.content-container{
  display: flex;
  justify-content: space-between;
  height: 90%;
}

app-table {
  display: block;
  height: 80%;
}

.right, .left {
  width: 48%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  margin-bottom: var(--filter-margin_bottom);
}

.heading {
  display: flex;
  align-items: center;
  
}

.heading h1 {
  font-size: var(--font-size_heading);
}

.text-centered {
  text-align: center;
  width: 100%;
}

.arrow {
  width: 20px;
  height: 20px;
  margin: 0 var(--font-size_heading)
}


.filters-container {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: var(--filter-margin_bottom);
}

.text-filter-container {
  display: flex;
  gap: 16px;
}

.checkbox-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottom-bar {
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.button-bottom {
  font-size: 1rem;
  margin: 0 var(--filter-margin_bottom);
}