
:root{
  --ci_color: #4C7DE7;
  --ci_color_light: #E3ECFF;
  --ci_color_grey: #667080;

  --filter-margin_bottom: 20px;

  --font-size_heading: 1.75rem;
}

.ci_font_color{
  color: var(--ci_color);
}

.garbage-can_size{
  width: 20px;
  height: 20px;
}

.page-wrapper {
  margin: 0 5vw;
  overflow: hidden;
  /* this is a guess. together with the navbar it's about 100vh */
  height: 74vh; 
}
/* You can add global styles to this file, and also import other style files */
