.hover-effect:hover {
  cursor: pointer;
}

.hover-effect_routable:hover {
  cursor: pointer;
  --bs-table-bg: var(--ci_color_light);
}

.table-head {
  --bs-table-bg: var(--ci_color);
  --bs-table-color:  white;
  font-weight:bold;
  top: 0px;
  position: sticky;
}

.table-row {
  font-weight: normal;
  --bs-table-color: var(--ci_color_grey);
  --bs-table-bg: white;
}

th {
  font-weight: inherit;
}

.symbol-container {
  z-index: 1;
  background-color: white;
  cursor:default;
}

.symbol-container>div {
  margin: auto;
}

.symbol-container:hover{
  z-index: 1;
  --bs-table-bg:  white;
}

.scrollable{
  display: block;
  overflow: scroll;
  width: inherit;
  height: inherit;
}